* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  min-height: 80vh;
}

nav {
  height: 15vh;
  background-color: white;
  padding: 10px 20px;
  /* border-bottom: 5px solid gray;
  box-shadow: 0 0 10px 5px; */
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
li {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.06em;
}

.btn {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid whitesmoke;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: lightgray;
}
main {
  /* border-top: 1px solid lightgray; */
  box-shadow: 0 0 5px 0;
  background-color: whitesmoke;
  height: 80vh;
  padding: 1rem;
}
footer {
  border-top: 1px solid gray;
  box-shadow: 0 0 5px 0;
}
footer > p {
  position: sticky;
  bottom: 10px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px;
}
.form-section {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
input,
button {
  display: block;
}
input {
  padding: 0.8rem;
  border: none;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 17px;
  border-radius: 15px;
  width: 100%;
}
.submit-btn {
  width: 100%;
  padding: 0.8rem;
  border: none;

  font-weight: 600;
  font-size: 17px;
  border-radius: 15px;

  background-color: lightcyan;
  cursor: pointer;
}
.submit-btn:focus,
.submit-btn:hover {
  background-color: rgb(224, 255, 255);
}
/* input[type='checkbox'] {
  display: inline;
} */
.add-book {
  margin: 1rem auto;
  margin-top: 10px;
  padding: 0.75rem 2rem;
  border-radius: 12px;
  border: none;
  font-size: 20px;
  font-weight: bold;
}
.add-book:hover,
.add-book:focus {
  background-color: gray;
  color: white;
  cursor: pointer;
}
.reading-check {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: lightgray;
  /* display: none; */
}
.form-heading {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 22px;
}
.reading-check {
  position: relative;
  margin-bottom: 1rem;

  padding: 0 2rem;
}
.reading-check label {
  display: block;
  font-size: 20px;
}
.reading-check input {
  position: absolute;
  top: 2px;
  right: 40px;
  padding: 0.5rem;
  width: 20px;
  height: 20px;
  border: 2px solid black;
}
